@import 'quasar/src/css/variables.sass';

body {
  font-family: 'Yandex Sans Text', serif !important;
}

body.body--dark {
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--q-primary);
    border: 3px solid $dark-page;
    border-radius: 4px;
    &:hover {
      border: 1px solid $dark-page;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  .text-color {
    color: #ffffff !important;
  }

  .bg-item {
    background: $grey-9 !important;
  }

  .bg-page {
    background: $dark-page !important;
  }
}

body.body--light {
  &::-webkit-scrollbar-thumb {
    background: var(--q-primary);
    border: 3px solid #ffffff;
    border-radius: 4px;
    &:hover {
      border: 1px solid #ffffff;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  .text-color {
    color: #000000 !important;
  }

  .bg-item {
    background: $grey-3;
  }

  .bg-page {
    background: #ffffff !important;
  }
}

.order-dashed {
  position: absolute;
  bottom: 5px;
  width: 100%;
  border-bottom: 2px $grey-5 dotted;
}

.transition {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) transform;
}

.multi-selected {
  transform: translateY(-100%);
}

.rounded-10 {
  border-radius: 10px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-16 {
  font-size: 18px;
}

.replenish-input .q-field__control {
  border-radius: 10px !important;
}

.border-left-10 {
  border-end-start-radius: 10px;
  border-start-start-radius: 10px;
}

.sms-input .q-field__control {
  border-radius: 10px;
}

.q-select__dialog {
  border-radius: 10px !important;
}

.select-rent .q-tab__indicator {
  height: calc(100% - 0.22em);
  background: transparent;
  border: currentColor 0.22em solid;
  border-radius: 10px;
  margin: 0.11em;
}

.button-enter-active {
  transition: all 0.15s ease-out;
}

.button-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.button-enter-from,
.button-leave-to {
  transform: translateX(100%);
}

* {
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer {
    display: none;
  }
}
